In [1]:
import numpy as np
import pandas as pd
import feather
from statistics import mode

# location target encoding

In [2]:
sessions = pd.read_csv("/Users/annazeng/Downloads/Data/sessions.csv")

In [3]:
labels = pd.read_csv("/Users/annazeng/Downloads/Data/labels.csv")

In [4]:
df = sessions[['country','city','user_id_hash']]

In [5]:
from collections import Counter

In [6]:
def mode_location(x):
    "find the mode location on user-level"
    c = Counter(x)
    return c.most_common(1)[0][0]

In [7]:
df_clean = pd.DataFrame()
df_clean['mode_country'] = df.groupby('user_id_hash')['country'].apply(mode_location)

In [8]:
df_clean['mode_city'] = df.groupby('user_id_hash')['city'].apply(mode_location)

In [9]:
df_clean = df_clean.reset_index()

In [10]:
df_clean.head()

,user_id_hash,mode_country,mode_city
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,AU,brisbane
1,000059859ec188af6035870faf885c3038cedda05b3a54...,US,apple valley
2,000062e9be78f3da274fec338e78f89d12000e781967f2...,US,campbell
3,00006ad44c0d33a2a526caf75514643639b7b7070dfffd...,ID,bandung
4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,US,chesapeake

In [11]:
# join with labels
df_labeled = df_clean.set_index('user_id_hash').join(labels.set_index('user_id_hash')).reset_index()

In [12]:
df_labeled = df_labeled.fillna(0)

In [13]:
df_labeled.head()

,user_id_hash,mode_country,mode_city,label_14,label_7
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,AU,brisbane,0.0,0.0
1,000059859ec188af6035870faf885c3038cedda05b3a54...,US,apple valley,0.0,0.0
2,000062e9be78f3da274fec338e78f89d12000e781967f2...,US,campbell,0.0,0.0
3,00006ad44c0d33a2a526caf75514643639b7b7070dfffd...,ID,bandung,0.0,0.0
4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,US,chesapeake,0.0,0.0

In [17]:
# % of the NaN country 
len(df_labeled[df_labeled.mode_country==0])/len(df_labeled)

0.0013685264673018776

In [18]:
def enc_cat_cols(df, cols):
    encoders = {}
    for col in cols:
        #print('Encoding "%s" ...'%col)
        unique_values = df[col].unique()
        enc = {val:idx for idx, val in enumerate(unique_values)}
        df[col] = df[col].map(enc)
        df[col] = df[col].astype("int16")
        encoders[col] = enc
    return encoders

In [19]:
enc_cat_cols(df_labeled,['mode_country', 'mode_city'])

{'mode_country': {'AU': 0,
  'US': 1,
  'ID': 2,
  'RO': 3,
  'AT': 4,
  'TT': 5,
  'GB': 6,
  'SE': 7,
  'ZA': 8,
  'CA': 9,
  'BR': 10,
  'JO': 11,
  'CH': 12,
  'ZM': 13,
  'LB': 14,
  'EG': 15,
  'PH': 16,
  'VN': 17,
  'AE': 18,
  'IN': 19,
  'SV': 20,
  'JP': 21,
  'IT': 22,
  'TN': 23,
  'MU': 24,
  'NZ': 25,
  'GR': 26,
  'MY': 27,
  'PK': 28,
  'AL': 29,
  'HK': 30,
  'MT': 31,
  'MK': 32,
  'NG': 33,
  'HU': 34,
  'PL': 35,
  'JM': 36,
  'SA': 37,
  'IL': 38,
  'CM': 39,
  'OM': 40,
  'BD': 41,
  'FR': 42,
  'FI': 43,
  'NO': 44,
  'BA': 45,
  'LT': 46,
  'EE': 47,
  'NL': 48,
  'LK': 49,
  'DK': 50,
  'MX': 51,
  'BE': 52,
  'TR': 53,
  'UA': 54,
  'MD': 55,
  'SI': 56,
  'HR': 57,
  'GU': 58,
  'SG': 59,
  'MM': 60,
  'RS': 61,
  'NP': 62,
  'CZ': 63,
  'TZ': 64,
  'IE': 65,
  'KR': 66,
  'GD': 67,
  'DE': 68,
  'SK': 69,
  'KE': 70,
  'BH': 71,
  'CR': 72,
  'CL': 73,
  'BJ': 74,
  'KH': 75,
  'AR': 76,
  'TH': 77,
  'MA': 78,
  'ZZ': 79,
  'CO': 80,
  'PT': 81,
  'KZ': 82,
  'TW': 83,
  'BO': 84,
  'RW': 85,
  'RU': 86,
  'PY': 87,
  'BN': 88,
  'PR': 89,
  'BS': 90,
  'GH': 91,
  'AG': 92,
  'ZW': 93,
  'CY': 94,
  'ES': 95,
  'JE': 96,
  'BZ': 97,
  'RE': 98,
  'GE': 99,
  'AZ': 100,
  'PE': 101,
  'MP': 102,
  'LA': 103,
  'LY': 104,
  'SR': 105,
  'EC': 106,
  0: 107,
  'CI': 108,
  'UY': 109,
  'FJ': 110,
  'PG': 111,
  'LU': 112,
  'DZ': 113,
  'KW': 114,
  'AI': 115,
  'PA': 116,
  'IS': 117,
  'AM': 118,
  'BG': 119,
  'LV': 120,
  'GY': 121,
  'DM': 122,
  'DO': 123,
  'KY': 124,
  'BW': 125,
  'IQ': 126,
  'BY': 127,
  'CN': 128,
  'UZ': 129,
  'HN': 130,
  'CW': 131,
  'GT': 132,
  'BM': 133,
  'UG': 134,
  'SN': 135,
  'IR': 136,
  'QA': 137,
  'HT': 138,
  'VI': 139,
  'DJ': 140,
  'BT': 141,
  'MV': 142,
  'MQ': 143,
  'MN': 144,
  'BB': 145,
  'AX': 146,
  'FK': 147,
  'AS': 148,
  'LC': 149,
  'LR': 150,
  'VE': 151,
  'AO': 152,
  'PS': 153,
  'SX': 154,
  'XK': 155,
  'SD': 156,
  'NI': 157,
  'SY': 158,
  'KG': 159,
  'LI': 160,
  'PW': 161,
  'AW': 162,
  'MR': 163,
  'GA': 164,
  'GP': 165,
  'CD': 166,
  'ET': 167,
  'IM': 168,
  'MZ': 169,
  'KN': 170,
  'SC': 171,
  'TM': 172,
  'BI': 173,
  'MC': 174,
  'MG': 175,
  'PF': 176,
  'AD': 177,
  'CK': 178,
  'NE': 179,
  'VC': 180,
  'AF': 181,
  'GG': 182,
  'TC': 183,
  'ML': 184,
  'BF': 185,
  'GM': 186,
  'YE': 187,
  'SO': 188,
  'ME': 189,
  'EH': 190,
  'TG': 191,
  'SZ': 192,
  'CV': 193,
  'TL': 194,
  'GF': 195,
  'SS': 196,
  'GL': 197,
  'MH': 198,
  'MO': 199,
  'NC': 200,
  'GI': 201,
  'TJ': 202,
  'FO': 203,
  'GN': 204,
  'TO': 205,
  'WS': 206,
  'CG': 207,
  'SL': 208,
  'VG': 209,
  'MF': 210,
  'MW': 211,
  'BQ': 212,
  'SB': 213,
  'VU': 214,
  'GQ': 215,
  'YT': 216,
  'NR': 217,
  'KI': 218,
  'NU': 219,
  'FM': 220,
  'SJ': 221,
  'LS': 222,
  'MS': 223,
  'BL': 224,
  'NF': 225,
  'PM': 226,
  'ST': 227},
 'mode_city': {'brisbane': 0,
  'apple valley': 1,
  'campbell': 2,
  'bandung': 3,
  'chesapeake': 4,
  'fresno': 5,
  'petrosani': 6,
  'colorado springs': 7,
  'weiz': 8,
  'south bend': 9,
  'san francisco': 10,
  'dallas': 11,
  'nashville': 12,
  'new kensington': 13,
  'san juan': 14,
  'bellflower': 15,
  'new york': 16,
  'san bernardino': 17,
  'london': 18,
  'gothenburg': 19,
  'alberton': 20,
  'mascouche': 21,
  'recife': 22,
  'atlanta': 23,
  'amman': 24,
  'douglasville': 25,
  'karlskoga': 26,
  'jacksonville': 27,
  'winnipeg': 28,
  'douds': 29,
  'los angeles': 30,
  'springdale': 31,
  'maugansville': 32,
  'itatiaiucu': 33,
  'oklahoma city': 34,
  'schlieren': 35,
  'crosby': 36,
  'indianapolis': 37,
  'lusaka': 38,
  'twin falls': 39,
  'middlesboro': 40,
  'chicago': 41,
  'beirut': 42,
  'cedar lake': 43,
  'giza': 44,
  'southampton': 45,
  'davao city': 46,
  'phu ly': 47,
  'dubai': 48,
  'omaha': 49,
  'rio de janeiro': 50,
  'nelspruit': 51,
  'delhi': 52,
  'woodley': 53,
  'ilopango': 54,
  'belmont': 55,
  'osaka': 56,
  'florence': 57,
  'tunis': 58,
  'paterson': 59,
  'port louis': 60,
  'yucca valley': 61,
  'saint paul': 62,
  'auckland': 63,
  'megara': 64,
  'sandton': 65,
  'lancaster': 66,
  'topeka': 67,
  'trecesson': 68,
  'greendale': 69,
  'houston': 70,
  'sioux falls': 71,
  'kuala lumpur': 72,
  'wettingen': 73,
  'san antonio': 74,
  'creston': 75,
  'lewes': 76,
  'islamabad': 77,
  'jamison': 78,
  'mason': 79,
  'elbasan': 80,
  'vienna': 81,
  'accrington': 82,
  'potomac falls': 83,
  'trappe': 84,
  'kailua-kona': 85,
  'racine': 86,
  'hong kong': 87,
  'puducherry': 88,
  'secunderabad': 89,
  'shiprock': 90,
  'mumbai': 91,
  'charlotte': 92,
  'south hill': 93,
  'marsaskala': 94,
  'marietta': 95,
  'veles': 96,
  'chennai': 97,
  'prince george': 98,
  'york': 99,
  'saint charles': 100,
  'prestonsburg': 101,
  'west valley city': 102,
  'george town': 103,
  'austin': 104,
  'mattawan': 105,
  'cairns': 106,
  'bellevue': 107,
  'preston': 108,
  'ringgold': 109,
  'barrow-in-furness': 110,
  'lagos': 111,
  'salem': 112,
  'bengaluru': 113,
  'virginia beach': 114,
  'debrecen': 115,
  'sanok': 116,
  'kingston': 117,
  'birmingham': 118,
  'boston': 119,
  'oceanside': 120,
  'riyadh': 121,
  'guntersville': 122,
  'tuscaloosa': 123,
  'louisville': 124,
  'rehovot': 125,
  'elmwood': 126,
  'manila': 127,
  'madison heights': 128,
  'bamenda': 129,
  'miami': 130,
  'tauranga': 131,
  'pretoria': 132,
  'adelaide': 133,
  'chandigarh': 134,
  'torun': 135,
  'el monte': 136,
  'melbourne': 137,
  'roodepoort': 138,
  'muscat': 139,
  'arlington': 140,
  'honolulu': 141,
  'dhaka': 142,
  'kolkata': 143,
  'bristol': 144,
  'las vegas': 145,
  'raleigh': 146,
  'regina': 147,
  'kota bharu': 148,
  'madison': 149,
  'paranaque': 150,
  'perth': 151,
  'porterdale': 152,
  'newcastle upon tyne': 153,
  'san jose': 154,
  'newport news': 155,
  'beeston': 156,
  'armentieres': 157,
  'north bergen': 158,
  'glenview': 159,
  'vantaa': 160,
  'getzville': 161,
  '?': 162,
  'charleston': 163,
  'saint clairsville': 164,
  'lansing': 165,
  'weaverville': 166,
  'coimbatore': 167,
  'sao paulo': 168,
  'cibolo': 169,
  'washington': 170,
  'hyderabad': 171,
  'clifton': 172,
  'ilford': 173,
  'klepp': 174,
  'la baule-escoublac': 175,
  'doboj': 176,
  'philadelphia': 177,
  'colchester': 178,
  'norwich': 179,
  'kaunas': 180,
  'lenoir': 181,
  'hanoi': 182,
  'cebu city': 183,
  'tampere': 184,
  'denham springs': 185,
  'navi mumbai': 186,
  'cambridge': 187,
  'stockholm': 188,
  'polva': 189,
  'newport beach': 190,
  'bussum': 191,
  'sydney': 192,
  'sao jose dos campos': 193,
  'colombo': 194,
  'hai phong': 195,
  'allen': 196,
  'dillon': 197,
  'jakarta': 198,
  'guwahati': 199,
  'general santos city': 200,
  'seattle': 201,
  'honey brook': 202,
  'jersey city': 203,
  'sunderland': 204,
  'coshocton': 205,
  'chelmsford': 206,
  'quezon city': 207,
  'copenhagen': 208,
  'cape town': 209,
  'torrance': 210,
  'mexico city': 211,
  'vincennes': 212,
  'ixelles': 213,
  'montego bay': 214,
  'istanbul': 215,
  'bitola': 216,
  'pune': 217,
  'kharkiv': 218,
  'balti': 219,
  'sidmouth': 220,
  'sheffield': 221,
  'champlin': 222,
  'edmonton': 223,
  'pearland': 224,
  'kokomo': 225,
  'maribor': 226,
  'zagreb': 227,
  'livermore': 228,
  'general trias': 229,
  'corning': 230,
  'cluj-napoca': 231,
  'shady side': 232,
  'kota kinabalu': 233,
  'pittsburgh': 234,
  'gaffney': 235,
  'santa rita': 236,
  'singapore': 237,
  'dombivli': 238,
  'swadlincote': 239,
  'lyon': 240,
  'memphis': 241,
  'warwick': 242,
  'columbus': 243,
  'bathgate': 244,
  'ermelo': 245,
  'wijlre': 246,
  'frisco': 247,
  'ravena': 248,
  'athens': 249,
  'leicester': 250,
  'belfast': 251,
  'mandalay': 252,
  'barrie': 253,
  'lebanon': 254,
  'indore': 255,
  'odebolt': 256,
  'thornaby': 257,
  'ho chi minh city': 258,
  'zurich': 259,
  'jeddah': 260,
  'murrieta': 261,
  'bucharest': 262,
  'brunssum': 263,
  'saint clair': 264,
  'sao joao batista': 265,
  'tucson': 266,
  'antipolo': 267,
  'sremska mitrovica': 268,
  'prescott': 269,
  'kathmandu': 270,
  'brewster': 271,
  'prague': 272,
  'alton': 273,
  'mesa': 274,
  'makati': 275,
  'dar es salaam': 276,
  'hayden': 277,
  'marmaris': 278,
  'ames': 279,
  'yangon': 280,
  'visakhapatnam': 281,
  'detroit': 282,
  'newark': 283,
  "be'er sheva": 284,
  'seatonville': 285,
  'newbridge': 286,
  "land o' lakes": 287,
  'courdemanche': 288,
  'nagpur': 289,
  'uniontown': 290,
  'billerica': 291,
  'denver': 292,
  'corner brook': 293,
  'kisujszallas': 294,
  'medan': 295,
  'alachua': 296,
  'alexandria': 297,
  'kochi': 298,
  'vaughan': 299,
  'sidney': 300,
  'seoul': 301,
  'the lime': 302,
  'north bethesda': 303,
  'karachi': 304,
  'des moines': 305,
  'surabaya': 306,
  'leinfelden-echterdingen': 307,
  'baguio': 308,
  'tampa': 309,
  'multan': 310,
  'puchov': 311,
  'milford': 312,
  'iligan city': 313,
  'ter apel': 314,
  'montreal': 315,
  'quesnel': 316,
  'saint-esteve': 317,
  'fortaleza': 318,
  'lawrenceville': 319,
  'anderson': 320,
  'south miami heights': 321,
  'itaborai': 322,
  'bhubaneswar': 323,
  'zinnowitz': 324,
  'faridabad': 325,
  'leeuwarden': 326,
  'nairobi': 327,
  'brookline': 328,
  'lawnton': 329,
  'anchorage': 330,
  'al ain': 331,
  'rockford': 332,
  'abu dhabi': 333,
  'manama': 334,
  'minneapolis': 335,
  'st. cloud': 336,
  'heredia': 337,
  'north highlands': 338,
  'kecskemet': 339,
  'phoenix': 340,
  'providence': 341,
  'radcliff': 342,
  'greensboro': 343,
  'pasig': 344,
  'reisterstown': 345,
  'vacoas-phoenix': 346,
  'everett': 347,
  'townsville': 348,
  'santiago': 349,
  'tel aviv-yafo': 350,
  'griffin': 351,
  'spring house': 352,
  'cotonou': 353,
  'new orleans': 354,
  'phnom penh': 355,
  'glen allen': 356,
  'southport': 357,
  'rome': 358,
  'mcdonough': 359,
  'sweetwater': 360,
  'pittsburg': 361,
  'manchester': 362,
  'midland': 363,
  'belo horizonte': 364,
  'cleveland': 365,
  'neuquen': 366,
  'damascus': 367,
  'alfenas': 368,
  'league city': 369,
  'glenolden': 370,
  'kharagpur': 371,
  'bakersfield': 372,
  'bangkok': 373,
  'brantford': 374,
  'pembroke pines': 375,
  'cairo': 376,
  'sunnyslope': 377,
  'arcadia': 378,
  'lulea': 379,
  'mississauga': 380,
  'rabat': 381,
  'new philadelphia': 382,
  'san diego': 383,
  'albany': 384,
  'delicias': 385,
  'wellington': 386,
  'blytheville': 387,
  'vermilion': 388,
  'amsterdam': 389,
  0: 390,
  'norfolk': 391,
  'akron': 392,
  'warner robins': 393,
  'horsham': 394,
  'burlington': 395,
  'soledad': 396,
  'randers': 397,
  'leopoldina': 398,
  'frankfurt': 399,
  'hialeah': 400,
  'newton falls': 401,
  'bistrita': 402,
  'bialystok': 403,
  'dubuque': 404,
  'lake country': 405,
  'lakeshore': 406,
  'shelbyville': 407,
  'ipoh': 408,
  'porto salvo': 409,
  'beyneu': 410,
  'comporta': 411,
  'patna': 412,
  'banqiao district': 413,
  'houma': 414,
  'courtenay': 415,
  'inman': 416,
  'oxford': 417,
  'lucknow': 418,
  'odolena voda': 419,
  'agia paraskevi': 420,
  'sheridan': 421,
  'ubon ratchathani': 422,
  'worsley': 423,
  'grand forks': 424,
  'tulsa': 425,
  'merida': 426,
  'greenville': 427,
  'chester': 428,
  'hamilton': 429,
  'port coquitlam': 430,
  'joint base pearl harbor-hickam': 431,
  'ajman': 432,
  'kansas city': 433,
  'denpasar': 434,
  'duderstadt': 435,
  'coquitlam': 436,
  'lisbon': 437,
  'orangeville': 438,
  'winston-salem': 439,
  'orlando': 440,
  'jarrettsville': 441,
  'kelowna': 442,
  'spokane': 443,
  'brussels': 444,
  'sao joao del rei': 445,
  'vinh long': 446,
  'vaxjo': 447,
  'cannock': 448,
  'kingsport': 449,
  'aquia harbour': 450,
  'new castle': 451,
  'taua': 452,
  'canberra': 453,
  'plainfield': 454,
  'augusta': 455,
  'soest': 456,
  'oak ridge': 457,
  'leipzig': 458,
  'kontich': 459,
  'parkland': 460,
  'la paz': 461,
  'voerde': 462,
  'toronto': 463,
  'zapopan': 464,
  'roseville': 465,
  'baton rouge': 466,
  'flat rock': 467,
  'krakow': 468,
  'new haven': 469,
  'nova iguacu': 470,
  'las amapolas': 471,
  'jonesboro': 472,
  'kigali': 473,
  'leominster': 474,
  'st. louis': 475,
  'vandalia': 476,
  'antrim': 477,
  'halifax': 478,
  'datteln': 479,
  'khanty-mansiysk': 480,
  'jose c. paz': 481,
  'gold coast': 482,
  'san angelo': 483,
  'kenton': 484,
  'leeds': 485,
  'west palm beach': 486,
  'agra': 487,
  'curitiba': 488,
  'bletchley': 489,
  'taylorsville': 490,
  'cincinnati': 491,
  'medicine hat': 492,
  'odense': 493,
  'baker': 494,
  'angeles': 495,
  'bellingham': 496,
  'brookville': 497,
  'huntington park': 498,
  'dubois': 499,
  'spokane valley': 500,
  'semarang': 501,
  'mccomb': 502,
  'kearny': 503,
  'erie': 504,
  'shillong': 505,
  'the woodlands': 506,
  'santa clara': 507,
  'brick': 508,
  'ghent': 509,
  'san felice a cancello': 510,
  'new britain': 511,
  'martins ferry': 512,
  'rotterdam': 513,
  'palm bay': 514,
  'campbellsville': 515,
  'johannesburg': 516,
  'east windsor': 517,
  'baldwinsville': 518,
  'leuze-en-hainaut': 519,
  'riverside': 520,
  'ampang jaya': 521,
  'santo andre': 522,
  'whitfield': 523,
  'cheektowaga': 524,
  'vanderhoof': 525,
  'geel': 526,
  'liverpool': 527,
  'orange': 528,
  'highland village': 529,
  'calgary': 530,
  'owensboro': 531,
  'calamba': 532,
  'rawalpindi': 533,
  'bloomington': 534,
  'batu pahat': 535,
  'hurst': 536,
  'chattanooga': 537,
  'wuppertal': 538,
  'walsall': 539,
  'shaftesbury': 540,
  'asuncion': 541,
  'lillehammer municipality': 542,
  'bismarck': 543,
  'shelby': 544,
  'greeley': 545,
  'corona': 546,
  'erwin': 547,
  'gilbert': 548,
  'knik-fairview': 549,
  'milan': 550,
  'madera': 551,
  'lahore': 552,
  'kolding': 553,
  'knightdale': 554,
  'almere': 555,
  'knob noster': 556,
  'gujranwala': 557,
  'oak forest': 558,
  'bandar seri begawan': 559,
  'delano': 560,
  'oost-, west- en middelbeers': 561,
  'ann arbor': 562,
  'bacoor': 563,
  'moscow': 564,
  'perry': 565,
  'santa cruz': 566,
  'overland park': 567,
  'burnsville': 568,
  'boise': 569,
  'porto': 570,
  'georgetown township': 571,
  'oxnard': 572,
  'guarulhos': 573,
  'kyiv': 574,
  'campton': 575,
  'lakeland north': 576,
  'oppdal municipality': 577,
  'kannapolis': 578,
  'geneva': 579,
  'tallinn': 580,
  'santa tecla': 581,
  'dasmarinas': 582,
  'great yarmouth': 583,
  'missouri city': 584,
  'cordova bay': 585,
  'nottingham': 586,
  'rodovre': 587,
  'stratford': 588,
  'cardiff': 589,
  'evansville': 590,
  'gloversville': 591,
  'muntinlupa': 592,
  'edinburgh': 593,
  'ghaziabad': 594,
  'south burlington': 595,
  'new delhi': 596,
  'ashford': 597,
  'sherwood': 598,
  'pontypridd': 599,
  'hengelo': 600,
  'vilnius': 601,
  'winter park': 602,
  'banja luka': 603,
  'tuxtla gutierrez': 604,
  'drachevo': 605,
  'cutler bay': 606,
  'morristown': 607,
  'mangaluru': 608,
  'jensen beach': 609,
  'irvine': 610,
  'roeselare': 611,
  'hartford': 612,
  'summerville': 613,
  'lienz': 614,
  'apopka': 615,
  'tirur': 616,
  'puryear': 617,
  'uetendorf': 618,
  'easingwold': 619,
  'splendora': 620,
  'ponta grossa': 621,
  'valdosta': 622,
  'solvesborg': 623,
  'baldwin park': 624,
  'alvin': 625,
  'malvern': 626,
  'williston': 627,
  'slough': 628,
  'columbia': 629,
  'lakeland': 630,
  'nassau': 631,
  'shinjuku': 632,
  'la roche-sur-yon': 633,
  'fredericton': 634,
  'hammond': 635,
  'fort worth': 636,
  'malacca': 637,
  'accra': 638,
  'martinez': 639,
  'ahmedabad': 640,
  'gatineau': 641,
  'buena ventura lakes': 642,
  'ranchi': 643,
  'garland': 644,
  "saint john's": 645,
  'fayetteville': 646,
  'radom': 647,
  'pontianak': 648,
  'mission bay': 649,
  'grangemouth': 650,
  'harare': 651,
  'lodz': 652,
  'clarksville': 653,
  'wilkes-barre': 654,
  'romulus': 655,
  'agios epiktitos': 656,
  'port harcourt': 657,
  'wheeling': 658,
  'richmond': 659,
  'waterloo': 660,
  'uijeongbu-si': 661,
  'seville': 662,
  'knivsta': 663,
  'sherwood park': 664,
  'salzburg': 665,
  'haydock': 666,
  'zhongli district': 667,
  'srinagar': 668,
  'bratislava': 669,
  'marble falls': 670,
  'fort lauderdale': 671,
  'oakland': 672,
  'monor': 673,
  'new malden': 674,
  'farmington': 675,
  'el paso': 676,
  'caledonia': 677,
  "l'hospitalet de llobregat": 678,
  'texarkana': 679,
  'port neches': 680,
  'wales': 681,
  'pineville': 682,
  'vanersborg': 683,
  'burr ridge': 684,
  'saint helier': 685,
  'tarragona': 686,
  'destin': 687,
  'sangre grande': 688,
  'warsaw': 689,
  'glasgow': 690,
  'kiskoros': 691,
  'medellin': 692,
  'salt lake city': 693,
  'west covina': 694,
  'helsinki': 695,
  'sequim': 696,
  'la porte': 697,
  'aabybro': 698,
  'evosmos': 699,
  'jefferson city': 700,
  'belem': 701,
  'sogndal municipality': 702,
  'st albans': 703,
  'salado': 704,
  'mayville': 705,
  'belize city': 706,
  'coburg': 707,
  'dublin': 708,
  'branson': 709,
  'linganore-bartonsville': 710,
  'pasadena': 711,
  'glover': 712,
  'santa rosa': 713,
  'woolwich township': 714,
  'saskatoon': 715,
  'fredonia': 716,
  'dover': 717,
  'boone': 718,
  'columbia city': 719,
  'havndal': 720,
  'peliyagoda': 721,
  'pilar': 722,
  'glendale': 723,
  'trebisov': 724,
  'pigeon forge': 725,
  'homestead': 726,
  'olympia': 727,
  'ilkeston': 728,
  'little rock': 729,
  'brighton': 730,
  'trenton': 731,
  'dearing': 732,
  'apalit': 733,
  'prattville': 734,
  'ottawa': 735,
  'pine lakes': 736,
  'constanta': 737,
  'webster': 738,
  'carmarthen': 739,
  'millersburg': 740,
  'rolandia': 741,
  'boksburg': 742,
  'saint-denis': 743,
  'trowbridge': 744,
  'paris': 745,
  'grand rapids': 746,
  'bogota': 747,
  'yonkers': 748,
  'alajuela': 749,
  'blue bell': 750,
  'kuantan': 751,
  'chittagong': 752,
  'van buren charter township': 753,
  'fort wayne': 754,
  'vila nova de gaia': 755,
  'eddington': 756,
  'raymond': 757,
  'boyertown': 758,
  'newark-on-trent': 759,
  'guagua': 760,
  'batumi': 761,
  'litvinov': 762,
  'hattiesburg': 763,
  'wadena': 764,
  'branford': 765,
  'levittown': 766,
  'oslo municipality': 767,
  'baku': 768,
  'hazleton': 769,
  'macomb': 770,
  'towson': 771,
  'tallahassee': 772,
  'piatra neamt': 773,
  'daytona beach': 774,
  'scottsdale': 775,
  'jales': 776,
  'adairsville': 777,
  'elk grove': 778,
  'poznan': 779,
  'vidalia': 780,
  'oradea': 781,
  'tanza': 782,
  'dokkum': 783,
  'san vicente': 784,
  'red bank': 785,
  'trujillo': 786,
  'hull': 787,
  'clayton': 788,
  'aleksandrow lodzki': 789,
  'highland park': 790,
  'garapan': 791,
  'phrom phiram': 792,
  'taguig': 793,
  'gresham': 794,
  'waco': 795,
  'chula vista': 796,
  'lockwood': 797,
  'zwolle': 798,
  'krosno': 799,
  'cumbre del sol': 800,
  'leavenworth': 801,
  'zaandijk': 802,
  'nitra': 803,
  'grand junction': 804,
  'warren': 805,
  'inkster': 806,
  'franklin township': 807,
  'florida ridge': 808,
  'san jose del monte city': 809,
  'mildenhall': 810,
  'kawartha lakes': 811,
  'ventura': 812,
  'kozhikode': 813,
  'williams bay': 814,
  'hemmingford': 815,
  'hermitage': 816,
  'depok': 817,
  'itu': 818,
  'milwaukee': 819,
  'surakarta': 820,
  'dalton': 821,
  'hampden': 822,
  'goussainville': 823,
  'darwin': 824,
  'moncton': 825,
  'parsippany-troy hills': 826,
  'greenwood village': 827,
  'vientiane': 828,
  'hot springs': 829,
  'bridgend': 830,
  'trnava': 831,
  'lebbeke': 832,
  'the royal town of sutton coldfield': 833,
  'oviedo': 834,
  'attalla': 835,
  'ashbourne': 836,
  'sarajevo': 837,
  'uruapan': 838,
  'ripon': 839,
  'stoke-on-trent': 840,
  'johor bahru': 841,
  'hornchurch': 842,
  'ellsworth': 843,
  'kalyan': 844,
  'rajahmundry': 845,
  'homewood': 846,
  'kempton park': 847,
  'senatobia': 848,
  'glendora': 849,
  'burbank': 850,
  'fontana': 851,
  'oshawa': 852,
  'balashikha': 853,
  'lafollette': 854,
  'lumberton': 855,
  'jackson': 856,
  'head of chezzetcook': 857,
  'lombez': 858,
  'rochester': 859,
  'beechwood': 860,

In [20]:
df_labeled.head()

,user_id_hash,mode_country,mode_city,label_14,label_7
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,0,0,0.0,0.0
1,000059859ec188af6035870faf885c3038cedda05b3a54...,1,1,0.0,0.0
2,000062e9be78f3da274fec338e78f89d12000e781967f2...,1,2,0.0,0.0
3,00006ad44c0d33a2a526caf75514643639b7b7070dfffd...,2,3,0.0,0.0
4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,1,4,0.0,0.0

In [21]:
from sklearn.model_selection import KFold
def reg_target_encoding_14(df, col, n):
    kf = KFold(n_splits=n, shuffle=False)
    new_col = col + "_" + "mean_enc14"
    df[new_col] = np.nan
    global_mean = df.label_14.mean()

    for test_inx, val_inx in kf.split(df):
        X_test, X_val = df.iloc[test_inx], df.iloc[val_inx]
        mean_enc = X_test.groupby(col).label_14.mean()
        df.loc[val_inx, new_col] = X_val[col].map(mean_enc)

    df[new_col].fillna(global_mean, inplace=True)

In [22]:
for c in ['mode_country', 'mode_city']:
    reg_target_encoding_14(df_labeled, c, 5)

In [23]:
df_labeled.head()

,user_id_hash,mode_country,mode_city,label_14,label_7,mode_country_mean_enc14,mode_city_mean_enc14
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,0,0,0.0,0.0,0.012547,0.017707
1,000059859ec188af6035870faf885c3038cedda05b3a54...,1,1,0.0,0.0,0.015144,0.000000
2,000062e9be78f3da274fec338e78f89d12000e781967f2...,1,2,0.0,0.0,0.015144,0.000000
3,00006ad44c0d33a2a526caf75514643639b7b7070dfffd...,2,3,0.0,0.0,0.003237,0.002188
4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,1,4,0.0,0.0,0.015144,0.020690

In [24]:
def reg_target_encoding_7(df, col, n):
    kf = KFold(n_splits=n, shuffle=False)
    new_col = col + "_" + "mean_enc7"
    df[new_col] = np.nan
    global_mean = df.label_7.mean()

    for test_inx, val_inx in kf.split(df):
        X_test, X_val = df.iloc[test_inx], df.iloc[val_inx]
        mean_enc = X_test.groupby(col).label_7.mean()
        df.loc[val_inx, new_col] = X_val[col].map(mean_enc)

    df[new_col].fillna(global_mean, inplace=True)

In [25]:
for c in ['mode_country', 'mode_city']:
    reg_target_encoding_7(df_labeled, c, 5)

In [26]:
df_labeled.head()

,user_id_hash,mode_country,mode_city,label_14,label_7,mode_country_mean_enc14,mode_city_mean_enc14,mode_country_mean_enc7,mode_city_mean_enc7
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,0,0,0.0,0.0,0.012547,0.017707,0.006857,0.01054
1,000059859ec188af6035870faf885c3038cedda05b3a54...,1,1,0.0,0.0,0.015144,0.000000,0.008077,0.00000
2,000062e9be78f3da274fec338e78f89d12000e781967f2...,1,2,0.0,0.0,0.015144,0.000000,0.008077,0.00000
3,00006ad44c0d33a2a526caf75514643639b7b7070dfffd...,2,3,0.0,0.0,0.003237,0.002188,0.001120,0.00000
4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,1,4,0.0,0.0,0.015144,0.020690,0.008077,0.02069

In [28]:
df_enc = df_labeled[['user_id_hash', 'mode_country_mean_enc14','mode_city_mean_enc14',
                     'mode_country_mean_enc7','mode_city_mean_enc7']]

In [29]:
df_enc.head()

,user_id_hash,mode_country_mean_enc14,mode_city_mean_enc14,mode_country_mean_enc7,mode_city_mean_enc7
0,00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...,0.012547,0.017707,0.006857,0.01054
1,000059859ec188af6035870faf885c3038cedda05b3a54...,0.015144,0.000000,0.008077,0.00000
2,000062e9be78f3da274fec338e78f89d12000e781967f2...,0.015144,0.000000,0.008077,0.00000
3,00006ad44c0d33a2a526caf75514643639b7b7070dfffd...,0.003237,0.002188,0.001120,0.00000
4,000081a7d841b0f953bdba6c185fd5cc335fd6015a30c3...,0.015144,0.020690,0.008077,0.02069

In [30]:
feather.write_dataframe(df_enc,"location_mean_enc.feather")

# previous session duration

In [31]:
datatype = {'session_id': np.uint64, 'event':'object',
            'event_timestamp':str,'event_value':str,'user_id_hash':'category'}

events = pd.read_csv('/Users/annazeng/Downloads/Data/events.csv',
                     usecols=["session_id", "event", "user_id_hash"],dtype=datatype)

In [35]:
# all the session_ids when the purchase is made
evnent_session = events[events.event=='8']

In [36]:
df_sevent = evnent_session[['session_id','event']]

In [37]:
df_sevent.head()

               session_id event
279   5159335150551901701     8
2898   845986603555615931     8
2970  2846996524173831068     8
3002  6141788581998894012     8
3597  6974128812803113234     8

In [38]:
df_sssion = sessions[['session_id','user_id_hash','previous_sessions_duration']]

In [39]:
# join the data from session on the data from events
df_join = df_sevent.set_index('session_id').join(df_sssion.set_index('session_id'))

In [40]:
df_join = df_join.reset_index()

In [41]:
df_join.head()

,session_id,event,user_id_hash,previous_sessions_duration
0,44097414271980,8,e1ca4b4371fab3442652313818df4decdc5ab3f5f11ab3...,34381845
1,139239025219926,8,da47944d5920073aab4d7daa7b73e0a73360307b312131...,124487748
2,198661066907208,8,98625390474bdd559a53af3fe9b3ee92d2ac08f17e7c0a...,4161545
3,277838121971337,8,519bab06524dea84a247668c3566adc8d68c5cba9de2fd...,45124770
4,330581615202681,8,0e6aa0563a5e6756e60ac4271015d9b4164d6660c845c9...,19928604

In [42]:
df_duration = pd.DataFrame()

In [43]:
def mean_duration(x):
    "the mean sessions_duration on user-level"
    return x.mean()

df_duration['mean_duration'] = df_join.groupby('user_id_hash')['previous_sessions_duration'].apply(mean_duration)

In [44]:
# not sure how to transoform the mean_duration time, remain in original ms
df_duration.reset_index().head()

                                        user_id_hash  mean_duration
0  00000db35682058bb7916cb90f85709f54c1a0f7a3b6de...   9.388056e+06
1  000059859ec188af6035870faf885c3038cedda05b3a54...   1.867869e+06
2  000d99c8e82878915b33ffe27ac3585ce9fb7cd4b82ace...   3.205615e+07
3  00124c21b3ec87a2f17f884c5eee25462b67d489ebad09...   3.000952e+06
4  0012e392350f0f6408b8b1a03bc5ee292e29dc735ee24d...   1.351863e+07

In [45]:
feather.write_dataframe(df_duration,'duration.feather')